/* Write your CSS here */
.bg_Container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_Container {
  background-image: linear-gradient(#2b2c49, #b5b9ff);
  text-align: center;
  width: 70%;
  height: 50%;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
